*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
    /* background-color: white; */
    
}

.header{
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    padding: 0 8rem;
}

.header-list{
    margin-left: auto;
}

.header-list ul {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    font-size: 20px;
    cursor: pointer;
}

ul {
    list-style: none;
}

.main-head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 8rem;
    /* border: 2px solid rebeccapurple; */
    max-height: 75vh;
}


.main-img img{
   border-radius: 100%;
   max-width: 400px;
}

.btn1{
    padding: 0.5rem 1rem;
    background-color: #122658;
    border-radius: 50px;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

span{
    color: #1188E7;
    font-size: 2rem;
}

.role-heading{
    color: #f8870f;
}

.download-btn{
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 50px;
    color: #122658;
    border: 0.2px solid #122658;
    font-size: 1rem;
    cursor: pointer;
}

.download-btn:hover{
    background-color: #122658;
    color: white;
}

.social-media-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 12rem;
    cursor: pointer;
}

.btn{
    margin-top: 1rem;
}


.about{
    display: flex;
    margin-top: 4rem;
    padding: 0rem 8rem;
    justify-content: center;
    align-items: center;
}

.about-img img{
   max-width: 500px;
}

.services, .services-head{
    display: flex;
    margin-top: 4rem;
    padding: 0rem 8rem;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}


.box{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E9EAEC;
    max-width: 270px;
    border-radius: 16px;
    padding: 2rem;
    gap: 1rem;
}


.box p{
    margin: 0 1rem;
}

.projects{
    display: flex;
    margin-top: 4rem;
    padding: 0rem 8rem;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.testinomials{
    display: flex;
    margin-top: 4rem;
    padding: 0rem 8rem;
    align-items: center;
    justify-content: center;
    gap: 5rem;
   
}

.project-box img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E9EAEC;
    max-width: 250px;
    border-radius: 16px;
    min-height: 300px;
}

.testinomials-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px gray;
    border-radius: 16px;
    padding: 1rem;
}


.testinomials-sub-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-section{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 8rem;
}

.forms{
    /* border: 2px solid red; */
    min-width: 500px;
    padding: 2rem;
    gap: 2rem;

   
}

.contact{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
}

.forms input{
    min-width: 100%;
    height: 50px;
    border-radius: 10px;
    
    font-size: 1.5rem;
}

#msg{
    height: 14rem;
}


#submit-form-btn{
    margin-top: 2rem;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 8rem;
    background-color: #122658;
    min-height: 50px;
}

footer p{
    color: white;
}

.close-btn, .hamburger-menu{
    display: none;
}


@media (max-width:500px) {
    .header{
        padding: 0 2rem;
    }
}

.close-btn, .hamburger-menu{
    display: flex;
}
    
@media (max-width:900px) {
    /* body{
        border: 2px solid red;
    } */
    .header{
        min-width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 2000;
        
       
    }
    .header h1{
        margin-right: auto;
    }
    .close-btn{
       position: relative;
       right: -3.5rem;
    }
    .header-list ul{ 
      
        position: absolute;
        right: 1rem;
        display: none;
        flex-direction: column;
        background-color: #122658;
        top: 0.50rem;
        padding-block: 0.5rem;
        gap: 10px;
        color: white;
        border-radius: 16px;
       
       
    }
    .hamburger-menu{
        margin-left: 200px;
    }

    #hamburger-checkbox:checked ~ .header-list ul {
        display: flex;
    }
   
    .main-head{
        flex-direction: column;
        margin-top: -4rem;
        
    }
    .main-head > div >h1{
        position: relative;
        top: 15rem;
        left: 2rem;
        min-width: 350px;
        z-index: 1000;
        
    }
    .btn{
        display: flex;
        gap: 10px;
        padding: 0;
        min-width: 350px;
        position: relative;
        top: 20rem;
        justify-content: center;
        align-items: center;
    }
    .main-img{
        position: relative;
        top: -2rem;
       padding: 0px;
    }
    .main-img > img, .about-img > img{
        max-width: 300px;
    }
    .social-media-container{
       
        min-width: 100%;
        padding: 0;
        position: relative;
        top: 6rem;
    }
    #contact-btn{
        display: none;
    }
    /* .header-list{
        display: none;
    } */
    .main-head > div > p{
        display: none;
    }
    .about{
        flex-direction: column;
        margin-top: 7rem;
    }
    
    .box, .container{
        min-width: 300px;
    }
    .testinomials-box{
        min-width: 325px;
    }
    .testinomials{
        flex-direction: column;
    }
    .form-section{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        
    }

    .forms, footer{
        min-width: 350px;
    }

    footer p{
        min-width: 350px;
        text-align: center;
    }
    
    
}


